@using (Html.BeginForm("Search","Person"))
{
	<div>
		<input type="text" name="first_name"> First Name : 
	</div>
	<div>
		<input type="text" name="country"> Country :
	</div>
	<input type="submit" value="Search">
}


